
{% load static %}

{% block mynav %}

<link rel="stylesheet" href="{% static 'css/mynav.css' %}">
<script src="https://kit.fontawesome.com/06211be5ed.js" crossorigin="anonymous"></script>




<div class="mynav-container">
    <div class="mynav-first">
        <div class="my-logo"><img src="{% static 'images/logo.png' %}"><span>e-Shop</span></div>
        <div class="mynav-toggle">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
    


    <nav class="mynav-items-left">
        <div><a type="link" href="">Dashboard</a></div>
        <div><a type="link" href="{% url 'shop' %}">Shop</a></div>
        <div><a type="link" href="">About</a></div>
    </nav>
    <nav class="mynav-form">
    
        {% with filtered_items.form as form %}
        <form class="search-form " method="GET" action="{% url 'shop' %}">
            {% for field in form %}
            {{field}}
            {% endfor %}
            <button type="submit" value="Search"><i class="fa-solid fa-magnifying-glass fa-xl"></i></button>
        </form>
        {% endwith %}

    </nav>
    <nav class="mynav-items-right">
        
        <div><a class="mycart" type="link" href=""><i class="fa-solid fa-cart-plus fa-xl" ><span id="cart-count">0</span></i></a></div>
        {% if request.user.is_authenticated or request.user.is_staff %}
        <div class="mylogin"><a type="link" href="{% url 'logout' %}">Log out</a></div>
        <span class="user">Hello,&nbsp;{{request.user}}</span>
        {% else %}
        <div class="mylogin"><a type="link" href="{% url 'login' %}">Log in</a></div>
        {% endif %}
        

    </nav>



</div>

<!-- we have to keep this js script in the button because it has to be called when the top code is rendered  -->
<script src="{% static 'js/mynav.js' %}"></script>

{% endblock %}
        
